.work {
  .info-section {
    padding: 54px;
    width: 35%;
  }

  .content-area {
    margin-left: 33%;
    width: 80%;
    min-width: 300px;
    background: white;
    height: 100%;
    overflow: hidden;

    .work-section {
      margin-bottom: 20px;
      h1 {
        font-weight: 700;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 56px;
      }

      .project-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 56px;
        grid-row-gap: 30px;
        max-width: 1000px;
      }
      .project-box {
        position: relative;
        padding: 30px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 400px;

        &:hover {
          -webkit-box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, 0.12);
          -moz-box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, 0.12);
        }

        .grey-bg {
          background: #efefef;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          opacity: 0;
          transition: all 0.3s ease-in-out;
          overflow: hidden;

          &:hover {
            opacity: 0.9;

            .project-info {
              .project-details {
                transform: translate3d(0, 0, 0);
                opacity: 1;
              }
              .project-title {
                transform: translate3d(0, 0, 0);
                opacity: 1;
              }
            }
          }

          .project-info {
            padding: 56px;
            position: absolute;
            width: 100%;
            bottom: 0;

            .project-details {
              position: relative;
              font-size: 1.1rem;
              text-transform: capitalize;
              margin: 0 0 1rem;
              transform: translate3d(-200px, 0, 0);
              opacity: 0;
              transition: all 0.5s ease-in;
            }

            .project-title {
              font-size: 1.8rem;
              text-transform: uppercase;
              font-weight: 700;
              transform: translate3d(-100px, 0, 0);
              opacity: 0;
              transition: all 0.4s ease-in 0.1s;
            }
            .fa-long-arrow-alt-right {
              position: absolute;
              bottom: 56;
              right: 56px;
              font-size: 3rem;
            }
          }
        }

        h5 {
          font-weight: 500;
          font-size: 1.3rem;
          margin-bottom: 1.4rem;
        }

        p {
          font-weight: 300;
          font-size: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

// Phone
@media (min-width: 0px) and (max-width: 767px) {
  .work {
    .menu-icon {
      top: -3;
      right: 20px;
      color: white;

      .fa {
        color: white;
      }
    }

    .content-area {
      height: auto !important;

      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .info-section {
      //display: none;
      padding: 10px 20px;
      position: static;
      .logo {
        height: 50px;
        width: 70px;
        font-size: 1rem;
      }
      .info-box {
        display: none;
      }
    }

    .content-area {
      margin-left: 0;
      width: 100%;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      .img-container {
        width: 100%;
        padding: 56px 20px 0;
        height: auto;

        .form-section {
          position: static;
          width: 100%;
          height: auto;
          overflow: auto;
        }
      }

      .work-section {
        width: 100%;
        float: left;

        .primary-btn,
        .ghost-btn {
          margin-bottom: 20px;
        }
      }
    }
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 991px) {
  .work {
    .info.section {
      .icon-section {
        a {
          font-size: 1.4rem;
        }
      }
    }

    .content-area {
      height: auto;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      .img-container {
        width: 100%;
        padding: 56px 20px 0;
        height: auto;

        .form-section {
          position: static;
          width: 100%;
          height: auto;
          overflow: auto;
        }
      }

      .work-section {
        width: 70%;
        float: left;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  .work {
    .content-area {
      height: auto;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      .img-container {
        padding: 56px 20px 0;
        float: left;
        height: auto;
        width: 100%;

        .form-section {
          position: static;
          width: 100%;
          float: left;
          height: auto;
          overflow: auto;
        }
      }

      .work-section {
        width: 70%;
        float: left;

        max-width: 800px;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .work {
    .content-area {
      .img-container {
        padding: 56px 20px 0;
        float: left;

        .form-section {
          //position: static;
          //width: 100%;
          left: -157;
          width: 400;
        }
      }

      .work-section {
        width: 70%;
        float: left;
        max-width: 800px;
      }
    }
  }
}

@media (min-width: 1500px) {
  .work {
    .content-area {
      .img-container {
        padding: 56px 20px 0;
        float: left;

        .form-section {
          //position: static;
          //width: 100%;
          left: -250;
          width: 500;
        }
      }

      .work-section {
        width: 70%;
        float: left;
        padding: 20% 60px 0;
        max-width: 800px;
      }
    }
  }
}
